* {
    box-sizing: border-box;
}    

body {
    background-color: black;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.box {
    text-align: center;
    min-width: 100px;
}

.time {
    font-size: 4rem;
    font-weight: 500;
}

.label {
    font-size: 1.2rem;
    font-weight: 300;
}